<h1 mat-dialog-title>Enter item type details</h1>
<div mat-dialog-content>
  <div class="details-container">
    <form #myform="ngForm">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Item Type" required name="ItemType" #ServicItemTypeeName="ngModel"
            [(ngModel)]="itemType.itemType">
        </mat-form-field>
      </div>

      <mat-form-field>
        <textarea matInput placeholder="Description" name="ItemTypeDescription" #ItemTypeDescription="ngModel"
          [(ngModel)]="itemType.itemTypeDescription"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="dialogActions">
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
  <button mat-flat-button color="primary" (click)="postItemType(myform)">Save</button>
</div>