<div class="component-place" *ngIf="!isBusy">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Inventory Management
      </mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        <button class="mainButtons" mat-flat-button color="primary" (click)="openAddInventoryItem()">
          <mat-icon>add</mat-icon>
          Add Inventory Item
        </button>

        <button class="mainButtons" mat-flat-button color="accent" (click)="usageUpdate()">
          <mat-icon>add</mat-icon>
          Usage Update
        </button>

        <button class="mainButtons" mat-flat-button color="accent" (click)="viewItemUsageHistory()">
          <mat-icon>note</mat-icon>
          View Item Usage History
        </button>

        <button mat-button class="refresh-button mainButtons" (click)="ngOnInit()">
          <mat-icon color="primary">replay</mat-icon>
        </button>
      </span>

      <mat-form-field class="searchBar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="itemCode">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Item Code</h3>
        </th>
        <td mat-cell *matCellDef="let item"> {{item.itemCode}} </td>
      </ng-container>

      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Item name</h3>
        </th>
        <td mat-cell *matCellDef="let item"> {{item.itemName}} </td>
      </ng-container>

      <ng-container matColumnDef="itemTypeId">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Item Type</h3>
        </th>
        <td mat-cell *matCellDef="let item"> {{item.inventoryItemType?.itemType }} </td>
      </ng-container>

      <ng-container matColumnDef="itemQuantity">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Quantity</h3>
        </th>
        <td mat-cell *matCellDef="let item"> {{item.itemQuantity}} </td>
      </ng-container>
      <ng-container matColumnDef="itemUnitPrice">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Unit Price</h3>
        </th>
        <td mat-cell *matCellDef="let item"> {{item.itemUnitPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="itemSellingPrice">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Selling Price</h3>
        </th>
        <td mat-cell *matCellDef="let item"> {{item.itemSellingPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Action</h3>
        </th>
        <td mat-cell *matCellDef="let item">
          <span class="action-delete" (click)="deleteItem(item)">
            <mat-icon>delete</mat-icon>
          </span>
          <span class="action-edit" (click)="openUpdateInventoryItem(item) ">
            <mat-icon>create</mat-icon>
          </span>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
</div>

<div class="fullSize" *ngIf="isBusy">
  <mat-spinner color="accent"></mat-spinner>
</div>