<h1 mat-dialog-title>Update Job Status</h1>
<div mat-dialog-content>

  <form #myform="ngForm">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field>
        <input matInput placeholder="Job Id" name="JobId" #JobId="ngModel" [(ngModel)]="job.taskId" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Job Subject" name="JobSubject" #JobSubject="ngModel" [(ngModel)]="job.taskSubject"
          readonly>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field>
        <input matInput placeholder="Vehicle Plate Number" name="VehiclePlateNumber" #VehiclePlateNumber="ngModel"
          [(ngModel)]="job.vehiclePlateNumber" readonly>
      </mat-form-field>
    </div>

    <mat-form-field>
      <textarea matInput placeholder="Job Description" name="JobDescription" #JobDescription="ngModel"
        [(ngModel)]="job.taskDescription" readonly></textarea>
    </mat-form-field>

    <mat-list>
      <h3 mat-subheader>Items</h3>
      <mat-list-item *ngFor="let item of items">
        <mat-icon mat-list-icon>category</mat-icon>
        <h4 mat-line>{{item.inventoryItem.itemName}}</h4>
        <p mat-line> {{item.inventoryItem.itemCode}} </p>
      </mat-list-item>
    </mat-list>

    <mat-button-toggle-group name="fontStyle" name="JobStatus" #JobStatus="ngModel" [(ngModel)]="job.taskStatus">
        <mat-button-toggle [value]="status.id" *ngFor="let status of statusList">{{status.name}}</mat-button-toggle>
    </mat-button-toggle-group>

  </form>

</div>
<div mat-dialog-actions class="dialogActions">
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
  <button mat-flat-button cdkFocusInitial color="primary">Update</button>
</div>