<div class="component-place" *ngIf="!isBusy">
  <form #myform="ngForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Job / Estimation Details
        </mat-card-title>
      </mat-card-header>

      <div fxLayout="column">
        <mat-radio-group name="invoiceEstimationType" #invoiceEstimationType="ngModel"
          [(ngModel)]="InvoiceEstimationType" class="radioButtonGroup">
          <mat-radio-button value="1">Job</mat-radio-button>
          <mat-radio-button value="2">Estimation</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly">
        <mat-form-field>
          <input matInput [placeholder]="InvoiceEstimationType == '1' ? 'Job No' : 'Estimation No'" readonly
            name="JobId" #JobId="ngModel" [(ngModel)]="job.taskId">
        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput placeholder="Vehicle Plate Number" name="VehiclePlateNumber" #VehiclePlateNumber="ngModel"
            [(ngModel)]="job.vehiclePlateNumber" required>
          <button mat-button matSuffix (click)="searchByVehiclePlateNumber()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field> -->

        <mat-form-field>
          <input type="text" placeholder="Vehicle Plate Number" aria-label="Number" matInput name="VehiclePlateNumber"
            oninput="this.value = this.value.toUpperCase()" #VehiclePlateNumber="ngModel"
            [(ngModel)]="job.vehiclePlateNumber" required [matAutocomplete]="auto" (ngModelChange)="filter(myform)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of vehiclePlateNumbers" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <!-- <button mat-button matSuffix (click)="searchByVehiclePlateNumber()">
            <mat-icon>search</mat-icon>
          </button> -->
        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput [placeholder]="InvoiceEstimationType == '1' ? 'Job subject' : 'Subject'" required
            name="JobSubject" #JobSubject="ngModel" [(ngModel)]="job.taskSubject">
        </mat-form-field> -->

        <mat-form-field>
          <mat-label>Service type</mat-label>
          <mat-select name="ServiceType" #ServiceType="ngModel" [(ngModel)]="job.serviceTypeId" required
            [disabled]="myform.control.controls.VehiclePlateNumber.invalid" (ngModelChange)="addServiceCharge()">
            <mat-option *ngFor="let service of services" [value]="service.id">
              {{service.serviceName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="stretch">
        <mat-form-field>
          <textarea matInput [placeholder]="InvoiceEstimationType == '1' ? 'Job Description' : 'Remark'" rows="2"
            name="JobDescription" #JobDescription="ngModel" [(ngModel)]="job.taskDescription"></textarea>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf="InvoiceEstimationType == '1'">
          Assign items to job
        </mat-card-title>
        <mat-card-title *ngIf="InvoiceEstimationType != '1'">
          Assign items to estimation
        </mat-card-title>
      </mat-card-header>
      <div>
        <div fxLayout="row" fxLayoutAlign="end">
          <mat-form-field>
            <input matInput placeholder="Search items" (keyup)="applyFilter($event.target.value,$event)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="checkBoxSelected($event,row)"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="itemCode">
            <th mat-header-cell *matHeaderCellDef>
              <h3>Item Code</h3>
            </th>
            <td mat-cell *matCellDef="let item"> {{item.itemCode}} </td>
          </ng-container>

          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef>
              <h3>Item name</h3>
            </th>
            <td mat-cell *matCellDef="let item"> {{item.itemName}} </td>
          </ng-container>

          <ng-container matColumnDef="itemTypeId">
            <th mat-header-cell *matHeaderCellDef>
              <h3>Item Type</h3>
            </th>
            <td mat-cell *matCellDef="let item"> {{item.itemTypeId}} </td>
          </ng-container>

          <ng-container matColumnDef="itemQuantity">
            <th mat-header-cell *matHeaderCellDef>
              <h3>Quantity</h3>
            </th>
            <td mat-cell *matCellDef="let item"> {{item.itemQuantity}} </td>
          </ng-container>

          <ng-container matColumnDef="itemSellingPrice">
            <th mat-header-cell *matHeaderCellDef>
              <h3>Selling Price</h3>
            </th>
            <td mat-cell *matCellDef="let item"> {{item.itemSellingPrice}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Estimation Details
        </mat-card-title>
      </mat-card-header>
      <div fxLayout="row" fxLayoutAlign="space-evenly">
        <mat-form-field>
          <span matPrefix>(LKR): &nbsp;</span>
          <input matInput placeholder="Service / Repair Charge" type="number" name="ServiceCharge"
            #ServiceCharge="ngModel" [(ngModel)]="serviceCharge" (ngModelChange)="calculateTotal()">
        </mat-form-field>

        <mat-form-field>
          <span matPrefix>(LKR): &nbsp;</span>
          <input matInput placeholder="Replace Parts Amount" type="number" readonly name="ReplacePartAmount"
            #ReplacePartAmount="ngModel" [(ngModel)]="replacePartAmount">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-evenly">
        <mat-form-field>
          <span matPrefix>(LKR): &nbsp;</span>
          <input matInput placeholder="Estimated Price" type="number" readonly name="EstimatedPrice"
            #EstimatedPrice="ngModel" [(ngModel)]="estimatedPrice">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Estimated Days" type="number" name="EstimatedDays" #EstimatedDays="ngModel"
            [(ngModel)]="job.taskEstimatedDurationInDays">
          <span matSuffix>Days</span>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-evenly">
        <mat-button-toggle-group name="fontStyle" name="JobStatus" #JobStatus="ngModel" [(ngModel)]="job.taskStatus">
          <mat-button-toggle [value]="status.id" *ngFor="let status of statusList">{{status.name}}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div fxLayout="row" fxLayoutAlign="start" class="cardActions">
        <button mat-button color="warn" (click)="Clear(myform)">Clear</button>
        <button mat-flat-button color="primary" (click)="saveJob(myform)" [disabled]="!myform.valid">Save</button>
        <button mat-button class="refresh-button mainButtons" (click)="getPrints()" [disabled]="!myform.valid">
          <mat-icon color="accent">print</mat-icon>
        </button>
      </div>
    </mat-card>

  </form>
</div>

<div class="fullSize" *ngIf="isBusy">
  <mat-spinner color="accent"></mat-spinner>
</div>