mat-form-field {
    width: 100%;
    padding: 2%;
}

.component-place>mat-card {
    margin-bottom: 10px;
}

.dialogActions>button {
    width: 20%;
}

.radioButtonGroup {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

mat-card {
    margin-bottom: 10px;
}