<div class="component-place" *ngIf="!isBusy">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Define Service / Repair
      </mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        <button class="mainButtons" mat-flat-button color="accent" (click)="addNewService()">
          <mat-icon>add</mat-icon>
          Add New Service / Repair
        </button>

        <button mat-button class="refresh-button mainButtons" (click)="ngOnInit()">
          <mat-icon color="primary">replay</mat-icon>
        </button>
      </span>

      <mat-form-field class="searchBar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="serviceName">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Service name</h3>
        </th>
        <td mat-cell *matCellDef="let service"> {{service.serviceName}} </td>
      </ng-container>

      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Unit Price</h3>
        </th>
        <td mat-cell *matCellDef="let service"> {{service.unitPrice}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Description</h3>
        </th>
        <td mat-cell *matCellDef="let service"> {{service.description}} </td>
      </ng-container> -->

      <ng-container matColumnDef="serviceType">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Service / Repair</h3>
        </th>
        <td mat-cell *matCellDef="let service"> {{service.serviceType == 0 ? "Service" : "Repair"}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <h3>Action</h3>
          </th>
          <td mat-cell *matCellDef="let service">
            <span class="action-delete" (click)="deleteSerive(service)">
              <mat-icon>delete</mat-icon>
            </span>
            <span class="action-edit" (click)="updateService(service)">
              <mat-icon>create</mat-icon>
            </span>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
</div>

<div class="fullSize" *ngIf="isBusy">
    <mat-spinner color="accent"></mat-spinner>
  </div>