<h1 mat-dialog-title>Enter Item Details</h1>
<div mat-dialog-content>
  <div class="details-container">
    <form #myform="ngForm">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Item code" required name="ItemCode" #ItemCode="ngModel"
            [(ngModel)]="item.itemCode">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Item name" required name="ItemName" #ItemName="ngModel"
            [(ngModel)]="item.itemName">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput type="number" placeholder="Item Quantity" name="ItemQuantity" #ItemQuantity="ngModel"
            [(ngModel)]="item.itemQuantity">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Item type</mat-label>
          <mat-select name="ItemType" #ItemType="ngModel" [(ngModel)]="item.inventoryItemTypeId" required>
            <mat-option *ngFor="let itemType of itemTypes" [value]="itemType.id">
              {{itemType.itemType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Item unit price" name="ItemUnitPrice" #ItemUnitPrice="ngModel"
            [(ngModel)]="item.itemUnitPrice">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Item selling price" name="ItemSellingPrice" #ItemSellingPrice="ngModel"
            [(ngModel)]="item.itemSellingPrice">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <textarea matInput placeholder="Remark" name="Description" #Description="ngModel"
            [(ngModel)]="item.itemRemark" rows="1"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="dialogActions">
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
  <button mat-flat-button color="primary" (click)="addNewInventoryItem(myform)">Save</button>
</div>