.details-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.details-container>* {
    width: 100%;
}

mat-form-field {
    width: 50%;
    padding: 2%;
}

button {
    width: 50%;
}