<div class="component-place">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Main Oparations</mat-card-title>
    </mat-card-header>
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <button class="mainButtons" mat-flat-button color="primary" (click)="openRegisterVehicle()">
        <mat-icon>airport_shuttle</mat-icon>
        Register Vehicle
      </button>

      <button class="mainButtons" mat-flat-button color="primary" (click)="openReportIssue()">
        <mat-icon>local_car_wash</mat-icon>
        Report Issue
      </button>

      <button class="mainButtons" mat-flat-button color="primary" (click)="openAddInventoryItem()">
        <mat-icon>format_list_bulleted</mat-icon>
        Add Inventory Item
      </button>

      <button class="mainButtons" mat-flat-button color="primary" (click)="usageUpdate()">
        <mat-icon>event_note</mat-icon>
        Usage Update
      </button>

      <button class="mainButtons" mat-flat-button color="primary">
        <mat-icon>add</mat-icon>
        Add New Job
      </button>

      <button class="mainButtons" mat-flat-button color="primary">
        <mat-icon>add</mat-icon>
        Assign Jobs
      </button>
    </div>
  </mat-card>
</div>