<div class="component-place" *ngIf="!isBusy">
  <mat-card>
    <mat-card-header fxLayot="row" fxLayoutAlign="space-between">
      <mat-card-title>Print Invoice / Estimation </mat-card-title>
    </mat-card-header>
    <mat-card>
      <form #myForm="ngForm">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field><input matInput placeholder="Search by Job No / Estimation No" name="JobId" #JobId="ngModel"
              [(ngModel)]="jobId"><button mat-flat-button color="primary" [disabled]="!jobId" matSuffix
              (click)="searchJobById()">
              <mat-icon>search</mat-icon>
            </button></mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h5>Customer Details</h5>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field><input matInput placeholder="Customer name" name="CustomerName" #JobCustomerNameId="ngModel"
              [(ngModel)]="Invoice?.customer.customerName" [readonly]="jobId"></mat-form-field>
          <mat-form-field><input matInput placeholder="Contact number" name="ContactNo" #ContactNo="ngModel"
              [(ngModel)]="Invoice?.customer.contactNumber" [readonly]="jobId"></mat-form-field>
          <mat-form-field><input matInput placeholder="Email" name="Email" #Email="ngModel"
              [(ngModel)]="Invoice?.customer.emailAddress" [readonly]="jobId"></mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field><input matInput placeholder="NIC" name="NIC" #NIC="ngModel"
              [(ngModel)]="Invoice?.customer.nicNumber" [readonly]="jobId"></mat-form-field>
          <mat-form-field><input matInput placeholder="Driving license number" name="DLNo" #DLNo="ngModel"
              [(ngModel)]="Invoice?.customer.drivingLicenseNumber" [readonly]="jobId"></mat-form-field>
          <mat-form-field><input matInput placeholder="Secondary contact number" name="SContactNo" #SContactNo="ngModel"
              [(ngModel)]="Invoice?.customer.secondaryContactNumber" [readonly]="jobId"></mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field><input matInput placeholder="Address" name="Address" #Address="ngModel"
              [(ngModel)]="Invoice?.customer.address" [readonly]="jobId"></mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h5>Vehicle Details</h5>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field><input matInput placeholder="Vehicle plate number" name="PlateNumber" #PlateNumber="ngModel"
              [(ngModel)]="Invoice?.vehicle.plateNumber" [readonly]="jobId"></mat-form-field>
          <mat-form-field><input matInput placeholder="Vehicle model" name="VehicleModel" #VehicleModel="ngModel"
              [(ngModel)]="Invoice?.vehicle.vehicleModel" [readonly]="jobId"></mat-form-field>
          <mat-form-field><input matInput placeholder="Vehicle registered year" name="VRYear" #VRYear="ngModel"
              [(ngModel)]="Invoice?.vehicle.vehicleRegisteredYear" [readonly]="jobId"></mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start">
          <mat-form-field><input matInput placeholder="Vehicle meter in reading" name="VMReading" #VMReading="ngModel"
              [(ngModel)]="Invoice?.vehicle.meterReading"></mat-form-field>
          <mat-form-field><input matInput placeholder="Vehicle next service" name="NextService" #NextService="ngModel"
              [(ngModel)]="Invoice?.vehicle.nextService"></mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h5>Job Details</h5>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field><input matInput placeholder="Job status" name="JobStatus" #JobStatus="ngModel"
              [(ngModel)]="Status" readonly></mat-form-field>
          <mat-form-field><input matInput placeholder="Job subject" name="JobSubject" #JobSubject="ngModel"
              [(ngModel)]="Invoice?.mainData.taskSubject" [readonly]="jobId"></mat-form-field>
          <mat-form-field><input matInput placeholder="Total amount" type="number" name="TotalAmount"
              #TotalAmount="ngModel" [(ngModel)]="Invoice?.mainData.taskEstimatedPrice" [readonly]="jobId">
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h5>Discount and Offers</h5>
        <div fxLayout="row" fxLayoutAlign="start">
          <mat-form-field><input matInput placeholder="Discount in %" type="number" name="DiscountAmount"
              #DiscountAmount="ngModel" [(ngModel)]="Invoice?.mainData.discount" (ngModelChange)="calculateTotal()">
          </mat-form-field>
          <mat-form-field><input matInput placeholder="Total invoice amount" type="number" name="TotalInvoiceAMount"
              #TotalInvoiceAMount="ngModel" [(ngModel)]="Invoice?.mainData.totalInvoiceAmount" readonly>
          </mat-form-field>
        </div>
      </form>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end"><button class="printInvoiceButton" mat-flat-button
          color="accent" (click)="printInvoice()" [disabled]="!Invoice?.mainData.taskEstimatedPrice">Print
          Invoice</button></mat-card-actions>
    </mat-card>
  </mat-card>
</div>
<div class="fullSize" *ngIf="isBusy">
  <mat-spinner color="accent"></mat-spinner>
</div>