<h1 mat-dialog-title>Enter Details</h1>
<div mat-dialog-content>
  <div class="details-container">
    <form #myform="ngForm">
      <h3>Customer details</h3>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Customer name" name="CustomerName" #CustomerName="ngModel"
            [(ngModel)]="customer.customerName" required>
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Contact number" name="ContactNumber" #ContactNumber="ngModel"
            [(ngModel)]="customer.contactNumber" required>
          <button mat-icon-button matSuffix (click)="searchByConref()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Another contact number" name="SContactNumber" #SContactNumber="ngModel"
            [(ngModel)]="customer.secondaryContactNumber">
          <!-- <button mat-icon-button matSuffix (click)="searchCustomerByContactNumber()">
            <mat-icon>search</mat-icon>
          </button> -->
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="License number" name="LicenseNumber" #LicenseNumber="ngModel"
            [(ngModel)]="customer.drivingLicenseNumber">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="NIC number" name="NICNumber" #NICNumber="ngModel"
            [(ngModel)]="customer.nicNumber">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Address" name="Address" #Address="ngModel" [(ngModel)]="customer.address">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email Address" name="Email" #Email="ngModel" [(ngModel)]="customer.emailAddress">
        </mat-form-field>
      </div>


      <h3>Vehicle details</h3>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Vehicle platenumber" oninput="this.value = this.value.toUpperCase()" required
            name="VehiclePlateNumber" #VehiclePlateNumber="ngModel" [(ngModel)]="vehicle.plateNumber">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Vehicle model" required name="VehicleModel" #VehicleModel="ngModel"
            [(ngModel)]="vehicle.vehicleModel">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput type="number" placeholder="Vehicle registerd year" name="RegisterdYear"
            #RegisterdYear="ngModel" [(ngModel)]="vehicle.vehicleRegisteredYear">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Vehicle color" name="VehicleColor" #VehicleColor="ngModel"
            [(ngModel)]="vehicle.vehicleColor">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <textarea matInput placeholder="Remark" name="Description" #Description="ngModel"
            [(ngModel)]="vehicle.vehicleRemark" rows="1"></textarea>
        </mat-form-field>

      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="dialogActions">
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
  <button mat-flat-button color="primary" (click)="registerNewVehicle(myform)">Save</button>
</div>