.loginContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    width: 100%;
    padding: 5%;
}

.loginForm-full-width {
    width: 90%;
}

.headline {
    color: white
}