<div class="component-place" *ngIf="!isBusy">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Vehicle Management
      </mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        <button class="mainButtons" mat-flat-button color="primary" (click)="openRegisterVehicle()">
          <mat-icon>add</mat-icon>
          Register Vehicle
        </button>

        <button class="mainButtons" mat-flat-button color="accent" (click)="viewReportedIssue()">
          <mat-icon>note</mat-icon>
          View Reported Issue
        </button>

        <button mat-button class="refresh-button mainButtons" (click)="ngOnInit()">
          <mat-icon color="primary">replay</mat-icon>
        </button>
      </span>

      <mat-form-field class="searchBar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="plateNumber">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Plate number</h3>
        </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.plateNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Customer name</h3>
        </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.customer.customerName}} </td>
      </ng-container>

      <ng-container matColumnDef="contactNumber">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Contact number</h3>
        </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.customer.contactNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="vehicleModel">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Vehicle model</h3>
        </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.vehicleModel}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="serviceType">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Service type</h3>
        </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.serviceType}} </td>
      </ng-container> -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Action</h3>
        </th>
        <td mat-cell *matCellDef="let vehicle">
          <span class="action-delete" (click)="deleteVehicle(vehicle)">
            <mat-icon>delete</mat-icon>
          </span>
          <span class="action-edit" (click)="updateVehicle(vehicle)">
            <mat-icon>create</mat-icon>
          </span>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
</div>

<div class="fullSize" *ngIf="isBusy">
  <mat-spinner color="accent"></mat-spinner>
</div>