<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>Carmeds - Billing Portal</h1>
        <!-- <h5> The garge management system</h5> -->
    </div>

    <div>
        <button mat-flat-button>
            <mat-icon>person_outline</mat-icon> Operating user : {{loggedUser}}
        </button>
        <button mat-button>
            <mat-icon>notifications_none</mat-icon> Notifications
        </button>
        <button mat-button>
            <mat-icon>build</mat-icon> Settings
        </button>
        <button mat-flat-button color="warn" (click)="signOut()">
            <mat-icon>power_settings_new</mat-icon>Logout
        </button>
    </div>
</mat-toolbar>