<h1 mat-dialog-title>Enter service / repair details</h1>
<div mat-dialog-content>
  <div class="details-container">
    <form #myform="ngForm">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <mat-label>Service type</mat-label>
          <mat-select name="ServiceType" #ServiceType="ngModel" [(ngModel)]="newService.serviceType" required>
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Service name" required name="ServiceName" #ServiceName="ngModel"
            [(ngModel)]="newService.serviceName">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Unit price" type="number" required name="UnitPrice" #UnitPrice="ngModel"
            [(ngModel)]="newService.unitPrice">
        </mat-form-field>
      </div>

      <mat-form-field>
        <textarea matInput placeholder="Description" name="ServiceDesc" #ServiceDesc="ngModel"
          [(ngModel)]="newService.description"></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="dialogActions">
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
  <button mat-flat-button color="primary" (click)="saveSerive(myform)">Save</button>
</div>