<div class="component-place">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Customer Management
      </mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        <button class="mainButtons" mat-flat-button color="primary">
          <mat-icon>add</mat-icon>
          Add new customer
        </button>

        <button mat-button class="refresh-button mainButtons" (click)="ngOnInit()">
          <mat-icon color="primary">replay</mat-icon>
        </button>
      </span>

      <mat-form-field class="searchBar">
        <input matInput  placeholder="Search here">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Customer name</h3>
        </th>
        <td mat-cell *matCellDef="let customer"> {{customer.customerName}} </td>
      </ng-container>

      <ng-container matColumnDef="contactNumber">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Contact number</h3>
        </th>
        <td mat-cell *matCellDef="let customer"> {{customer.contactNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Action</h3>
        </th>
        <td mat-cell *matCellDef="let customer">
          <span class="action-delete" (click)="deleteCustomer(customer)">
            <mat-icon>delete</mat-icon>
          </span>
          <span class="action-edit" (click)="updateCustomer(customer)">
            <mat-icon>create</mat-icon>
          </span>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
</div>