.mat-button {
    text-align: left !important;
    display: block;
    margin: 0 -24px 0 -34px;
    padding-left: 50px;
    border-radius: 0 !important;
}

mat-panel-description{
    display: flex;
    justify-content: flex-end;
}