<div style="width: 100%; margin-top: 10px">
  <mat-accordion class="SideMenu">
    <mat-expansion-panel [expanded]="menuItem.opened" *ngFor="let menuItem of menuItems">
      <mat-expansion-panel-header class="panel-header" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-panel-title>
          {{menuItem.moduleName}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- <i class="material-icons" color="primary">{{menuItem.icon}}</i> -->
          <mat-icon>{{menuItem.icon}}</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="menuItem.moduleItems" role="menuItems">

        <a mat-button role="menuitem" [routerLinkActive]="['active']" routerLink="{{sub.path}}" *ngFor="let sub of menuItem.moduleItems">{{
          sub.name }}</a>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>