<h1 mat-dialog-title>Message</h1>
<div mat-dialog-content>
  <p>{{Message}}</p>
</div>
<div mat-dialog-actions fxLayoutAlign="flex-end">
  <button color="primary" mat-button (click)="close()">OK</button>
</div>