<h1 mat-dialog-title>Enter Issue Details</h1>
<div mat-dialog-content>
  <div class="details-container">

    <form #myForm="ngForm">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <!-- <mat-form-field>
        <input matInput placeholder="Vehicle plate number" 
        required name="VehiclePalteNumber" #VehiclePlateNumber="ngModel"
        [(ngModel)]="issue.plateNumber">
      </mat-form-field> -->

        <mat-form-field>
          <input type="text" placeholder="Vehicle plate number" aria-label="Vehicle Plate Number" matInput
            [matAutocomplete]="auto" required name="VehiclePalteNumber" #VehiclePlateNumber="ngModel"
            [(ngModel)]="issue.vehiclePlateNumber">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Reported date" required name="IssueReportedDate"
            #IssueReportedDate="ngModel" [(ngModel)]="issue.reportedDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput placeholder="Reported technician" required name="ReportedTechnician"
            #ReportedTechnician="ngModel" [(ngModel)]="issue.reportedTechnician">
        </mat-form-field>
      </div>

      <mat-form-field>
        <textarea matInput placeholder="Description" name="Description" #Description="ngModel"
          [(ngModel)]="issue.issueDescription" required></textarea>
      </mat-form-field>
    </form>

  </div>
</div>
<div mat-dialog-actions class="dialogActions">
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
  <button mat-flat-button color="primary" (click)="submitIssue(myForm)">Save</button>
</div>