<div class="component-place" *ngIf="!isBusy">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Job Management
      </mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        <button class="mainButtons" mat-flat-button color="primary">
          <mat-icon>add</mat-icon>
          Add New Job
        </button>

        <button class="mainButtons" mat-flat-button color="accent">
          <mat-icon>add</mat-icon>
          Assign Jobs
        </button>

        <button mat-button class="refresh-button mainButtons" (click)="ngOnInit()">
          <mat-icon color="primary">replay</mat-icon>
        </button>
      </span>

      <mat-form-field class="searchBar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="taskId">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Job Id</h3>
        </th>
        <td mat-cell *matCellDef="let job"> {{job.taskId}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="taskSubject">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Job Subject</h3>
        </th>
        <td mat-cell *matCellDef="let job"> {{job.taskSubject}} </td>
      </ng-container> -->

      <ng-container matColumnDef="vehiclePlateNumber">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Plate number</h3>
        </th>
        <td mat-cell *matCellDef="let job"> {{job.vehiclePlateNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="taskEstimatedPrice">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Estimated Price</h3>
        </th>
        <td mat-cell *matCellDef="let job"> {{job.taskEstimatedPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Action</h3>
        </th>
        <td mat-cell *matCellDef="let job">
          <span class="action-delete" (click)="deleteVehicle($event,job)">
            <mat-icon>delete</mat-icon>
          </span>
          <span tooltip="Update job status" class="action-edit" (click)="updateJobStatus(job)">
            <mat-icon>done_outline</mat-icon>
          </span>
          <span tooltip="Print invoice" class="action-print" (click)="printInvoice(job)">
            <mat-icon color="primary">print</mat-icon>
          </span>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>

  </mat-card>
</div>

<div class="fullSize" *ngIf="isBusy">
  <mat-spinner color="accent"></mat-spinner>
</div>