@import '~@angular/material/theming';

@include mat-core();
$dentaly-app-primary: mat-palette($mat-blue, A700);

$dentaly-app-accent: mat-palette($mat-pink, 500);

$dentaly-app-warn: mat-palette($mat-red);

$dentaly-app-theme: mat-light-theme($dentaly-app-primary, $dentaly-app-accent, $dentaly-app-warn);

@include angular-material-theme($dentaly-app-theme);