<div class="component-place" *ngIf="!isBusy">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Define Item Types
      </mat-card-title>
    </mat-card-header>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span>
        <button class="mainButtons" mat-flat-button color="accent" (click)="addNewItemType()">
          <mat-icon>add</mat-icon>
          Add New Item Type
        </button>

        <button mat-button class="refresh-button mainButtons" (click)="ngOnInit()">
          <mat-icon color="primary">replay</mat-icon>
        </button>
      </span>

      <mat-form-field class="searchBar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="itemType">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Item Type</h3>
        </th>
        <td mat-cell *matCellDef="let itemT"> {{itemT.itemType}} </td>
      </ng-container>

      <ng-container matColumnDef="itemTypeDescription">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Item Type Description</h3>
        </th>
        <td mat-cell *matCellDef="let itemT"> {{itemT.itemTypeDescription}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <h3>Action</h3>
        </th>
        <td mat-cell *matCellDef="let itemT">
          <span class="action-delete" (click)="deleteSerive(itemT)">
            <mat-icon>delete</mat-icon>
          </span>
          <span class="action-edit" (click)="updateService(itemT)">
            <mat-icon>create</mat-icon>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
</div>

<div class="fullSize" *ngIf="isBusy">
  <mat-spinner color="accent"></mat-spinner>
</div>