<div class="component-place">
  <mat-card>
    <mat-card>
      <title>Site Maintenance</title>
      <style>
        body {
          text-align: center;
          padding: 150px;
        }

        h1 {
          font-size: 50px;
        }

        body {
          font: 20px Helvetica, sans-serif;
          color: #333;
        }

        article {
          display: block;
          text-align: left;
          width: 650px;
          margin: 0 auto;
        }

        a {
          color: #dc8100;
          text-decoration: none;
        }

        a:hover {
          color: #333;
          text-decoration: none;
        }
      </style>

      <article>
        <h1>This feature will be available soon!</h1>
        <div>
          <p>Sorry for the inconvenience but we&rsquo;re working on this feature development. If you need any assistence, you
            can always <a href="mailto:arunawickram@gmail.com">contact us.</a></p>
          <p>&mdash; Team devscade</p>
        </div>
      </article>
    </mat-card>

  </mat-card>
</div>